# Copy this file to .env and fill in your real CognoDB Cloud credentials.
# NEVER commit the real .env file — it's already in .gitignore.

COGNODB_URI=bolt+s://db-8e448529.bravo.databases.cognodb.com
COGNODB_USER=cognodb
COGNODB_PASSWORD=152a3d772c0a2a2ea297ddbb2be1413d

PORT=4000
NODE_ENV=development
